<!DOCTYPE html>
<html lang="en" xmlns:th="http:/www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
<!--  <h4><a th:href="@{/oauth2/authorization/azure-ad}">Login with Microsoft</a></h4>-->
  <h4><a th:href="@{https://login.microsoftonline.com/organizations/oauth2/v2.0/authorize?response_type=code&client_id=b9ac03e0-8b5e-4c38-865d-1c819e894e7a&scope=openid%20profile&state=BD4NnuyjmSKdGUPLPy4jl-yYlemArdxNJ4RA5Fm-Tg4%3D&redirect_uri=http://localhost:8080/login-success&nonce=iUVLU2Ya_lkHRWty231blXkxAqGWBHOuQtALe4_vQMc&sso_reload=true}">Login with Microsoft</a></h4>
</div>
</body>
</html>